.container {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #05BFDB;
    padding: 10px;
}